.Home {
    height: auto;
}

ul{
text-decoration: none;
list-style-type: none;
display: flex;
flex-direction: row;
justify-content: space-around;
height:auto;
text-transform: uppercase;
font-size: 1.25rem;
font-weight: bolder;
background-color: white;
padding: 20px;
position: sticky;
top: 0px;
}

